
@font-face {
    font-family: Proxima;
    src: url(assets/Proxima/proximanova_light.otf)
}

:root{
    --accent-color: #0a0a0a;
}

*{
    font-family: Proxima;
    font-weight: 100;
}


a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}

body{
    padding: 0;
    margin: 0;
}

#navList{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    background-color: #393e46;
    gap: 20px;
}

#navItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navButton{
    height: 20px;
}

#searchBar{
    height: 40px;
    width: 100px;
    border-radius:20px;
    font-family: Proxima Nova Light;
}

#navBar{
    background-color: #393e46;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}


#logo{
    height: 40px;
}

#main{
    
    padding-top: 20px;
    justify-content: center;
}

#contents{
    padding-top: 70px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    z-index: 0;
    justify-content: center;
    background-color: #f2e7d5;
}

#card{
    text-align: center;
    font-family: Proxima Nova Light;
    margin: 10px;
    padding: 10px;
    border-radius: 40px;
    background-color: #f7f7f7;
    height: 180px;
    width: 130px;
}

#card h2{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

#card h3{
    font-size: 15px;
    margin: 0;
    color: red;
}

#card:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #fffffe;
}

#productImage{
    height: 70px;
    border-radius: 30px;
}



#addCart{
    height: 20px;
    border-radius: 30px;
    border: none;
    background-color: #393e46;
    color: white;
}

#addCart:hover{
    cursor: pointer;
    background-color: #860000;
}
#buyNow{
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: #6d9886;
    color: white;
}

#buyNow:hover{
    cursor: pointer;
    background-color: #000dbd;
}

#login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    position: fixed;
}

#form{
    
    background-color: rgb(109, 152, 134);
    border-radius: 40px;
    height: 200px;
    width: 200px;
    padding: 10px;
}

#password{
    width: 100px;
}

#closeWindow{
    float: right;
    margin: 10px;
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.navIcon{
    background-color: transparent;
    border: none;
}

#cart-container{
    background-color: rgb(128, 128, 128);
    height: 500px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

#cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-height: 500px;
    height: 500px;
    overflow-y: scroll;
    width: 700px;
    margin: 50px;
    background-color: rgb(245, 255, 221);
    border-radius: 40px;
    border: 1px solid #0a0a0a;
}

#cart button{
    margin-left: auto;
}

#cart h2{
    margin-right: auto;
}

#authMsg{
    color: red;
}

@media screen and (min-width: 800px){
    #navList{
        justify-content: space-evenly;
    }

   #searchBar{
        width: 400px;
   }

    #contents{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    #productBarList{
        justify-content: center;
        gap: 20px;
    }

}

