
@font-face {
    font-family: Proxima;
    src: url(assets/Proxima/proximanova_light.otf)
}

:root{
    --accent-color: #0a0a0a;
}

*{
    margin: 0;
    padding: 0;
    font-family: Proxima;
    font-weight: 100;
}


a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}

#navList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    background-color: #393e46;
    gap: 20px;
}

#navItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navButton{
    height: 35px;
}

#searchBar{
    height: 40px;
    width: 200px;
    border-radius: 40px;
    font-family: Proxima Nova Light;
}

#logo{
    height: 80px;
}

#main{
    padding-top: 80px;
    justify-content: center;
}

#contents{
    padding-top: 70px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    z-index: 0;
    justify-content: center;
    background-color: #f2e7d5;
}

#card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Proxima Nova Light;
    margin: 10px;
    padding: 10px;
    border-radius: 40px;
    background-color: #f7f7f7;
    height: 300px;
    width: 200px;
}

#card:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #fffffe;
}

#productImage{
    height: 130px;
    border-radius: 30px;
}

#productBar{
    width: 100%;
}

#productBarList{    
    padding-top: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
    z-index: 1;
    padding: 10px;
}

#productBarItem{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5;
    height: 30px;
    width: 80px;
}





#interface{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: blue;
}


#addCart{
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: #393e46;
    color: white;
}

#addCart:hover{
    cursor: pointer;
    background-color: #860000;
}
#buyNow{
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #6d9886;
    color: white;
}

#buyNow:hover{
    cursor: pointer;
    background-color: #000dbd;
}



@media screen and (min-width: 800px){
    #navList{
        justify-content: space-evenly;
    }

   #searchBar{
        width: 400px;
   }

    #contents{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    #productBarList{
        justify-content: center;
        gap: 20px;
    }

}

